.box {
    width: 7.5rem;
    height: auto;
    overflow: hidden;
}

.title {
    width: 100%;
    height: 1.28rem;
    padding-top: 0.64rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.title .con {
    width: 100%;
    height: 0.48rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title .con .left {
    width: 0.2rem;
    height: 100%;
    position: relative;
}
.title .con .left a{
    display:inline-block;
    width:100%;
    height:100%;
}
.title .con .left a img {
    width: 0.2rem;
    height: 0.36rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.title .con .center {
    width: auto;
    height: 100%;
    font-size: 0.34rem;
    line-height: 0.48rem;
    color: rgba(68, 68, 68, 1);
    overflow: hidden;
}

.title .con .right {
    width: auto;
    height: 100%;
    font-size: 0.34rem;
    line-height: 0.48rem;
    color: rgba(68, 68, 68, 1);
    overflow: hidden;
}

.title .con .d_4 {
    width: 0.36rem;
    height: 0.36rem;
    position: relative;
}

.title .con .d_4 img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.title .con img {
    width: 0.36rem;
    height: 0.38rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.box .time {
    width: 100%;
    height: 1rem;
    background: url("../img/bid_title_bg.png") center center no-repeat;
    background-size: 100%;
}

.box .time .p1 {
    width: 2.39rem;
    height: 100%;
    float: left;
    font-size: 0.28rem;
    color: #fff;
    line-height: 1rem;
    text-align: center;
}

.box .time .p2 {
    width: auto;
    height: 100%;
    float: left;
    font-size: 0.26rem;
    color: #000;
    line-height: 1rem;
    padding-left: 0.43rem;
}

.box .time .p2 span {
    color: #FE7F02;
}

.box .banner {
    width: 100%;
    height: 5.2rem;
    position: relative;
    background: rgba(246, 246, 246, 1);
}

.banner .con {
    width: 3.02rem;
    height: 4.32rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.banner .mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(51,51,51,0.3);
}
.banner .mask .dash{
    width:5.06rem;
    height:4.32rem;
    border:0.01rem dashed rgba(51,51,51,0.3);
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
}
.banner .mask .dash .notice{
    width:100%;
    height:0.55rem;
    background:rgba(91,91,91,1);
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;
    font-size:0.26rem;
    color:#E5E5E5;
    line-height:0.55rem;
    text-align: center;
}
.banner .mask .dash .complete{
    width:4.1rem;
    height:1.54rem;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.con_1 {
    width: 100%;
    height: 2.22rem;
    padding: 0.48rem 0.3rem 0.32rem;
}

.border {
    border-bottom: 0.02rem solid rgba(246, 246, 246, 1);
}

.con_1 p {
    font-size: 0.48rem;
    color: rgba(68, 68, 68, 1);
    line-height: 0.52rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.con_1 ul {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.con_1 ul li {
    width: auto;
    height: 100%;
}

.con_1 ul li.l1 {
    float: left;
    font-size: 0.6rem;
    color: #FF7F03;
    line-height: 0.48rem
}

.con_1 ul li.l3 {
    float: left;
    font-size: 0.24rem;
    color: rgba(180, 180, 180, 1);
    line-height: 0.6rem;
}

.con_1 ul li.l1 span {
    font-size: 0.4rem;
    line-height: 0.48rem;
}

.con_1 ul li.l1 span.startPrice, .con_1 ul li.l3 span.startPrice {
    width: 0.36rem;
    height: 0.36rem;
    align-items: center;
    position: relative;
    float: left;
    margin-right: 0.1rem;
}

.con_1 ul li.l1 span img, .con_1 ul li.l3 span img {
    width: 0.36rem;
    height: 0.36rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    margin-top: 35%;
}

.con_1 ul .line {
    width: 0.02rem;
    height: 0.4rem;
    background: #C5C5C5;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    float: left;
    margin-top: 0.08rem;
}

.con_1 ul li.l2 {
    float: right;
}

.con_1 ul li.l2 .ti {
    float: left;
    font-size: 0.28rem;
    color: rgba(161, 161, 161, 1);
    line-height: 0.4rem;
}

.con_1 ul li.l2 .share {
    width: 0.4rem;
    height: 0.4rem;
    float: right;
    position: relative;
    margin-left: 0.1rem;
}

.con_1 ul li.l2 .share a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.con_1 ul li.l2 .share a img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.con_2 {
    width: 100%;
    height: 1rem;
    padding: 0.3rem 0.58rem 0.3rem 0.3rem;
}

.con_2 ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.con_2 ul li {
    font-size: 0.28rem;
    color: rgba(161, 161, 161, 1);
    line-height: 0.4rem;
}

.con_2 ul li span {
    color: rgba(120, 120, 120, 1);
}

.con_3 {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-bottom: 0.2rem solid rgba(246, 246, 246, 1);
}
.con_3 .con_3_1 {
    width: 100%;
    height: 0.88rem;
    padding:0.3rem;
}
.con_3 .con_3_1 .p1 {
    width:4.46rem;
    height:100%;
    font-size: 0.28rem;
    color: rgba(68, 68, 68, 1);
    overflow: hidden;
    line-height: 0.28rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    float:left;
    font-weight:500;
}
.con_3 .con_3_1 .p1_1{
    float:right;
    width:auto;
    height:100%;
    overflow:hidden;
    font-size:0.24rem;
    color:rgba(153,153,153,1);
    line-height:0.28rem;
}
.con_3 .con_3_1 .p1_1 span {
    display:inline-block;
    width:0.22rem;
    height:0.12rem;
    vertical-align: middle;
    position:relative;
}
.con_3 .con_3_1 .p1_1 span img{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.con_3 .p2 {
    width: 100%;
    height: 0.88rem;
    font-size: 0.26rem;
    color: rgba(153,153,153, 1);
    line-height: 0.88rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left:0.4rem;
}
.con_3 .p2 span{
    display:inline-block;
    width:0.26rem;
    height:0.24rem;
    vertical-align: middle;
    position:relative;
    margin-right:0.4rem;
    margin-top: -0.06rem;
}
.con_3 .p2 span img{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.con_11 {
    width: 100%;
    height: auto;
    padding-top: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    overflow: hidden;
}

.con_11 .tit {
    width: 100%;
    height: 0.4rem;
}

.con_11 .record_1 {
    width: 100%;
    height: 1.58rem;
    margin-top: 0.3rem;
}

.con_11 .record_1 .left {
    float: left;
    width: 0.9rem;
    height: 0.9rem;
}

.con_11 .record_1 .right {
    width: 6rem;
    height: 100%;
    float: left;
    border-bottom: 0.02rem solid #F0F0F0;
    padding-left: 0.2rem;
}

.con_11 .record_1 .right .le {
    width: 50%;
    height: 100%;
    float: left;
    font-size: 0.26rem;
    color: rgba(179, 179, 179, 1);
    line-height: 0.6rem;
    position: relative;
}

.con_11 .record_1 .right .le .sp1 {
    position: absolute;
    left: 1.5rem;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
}

.con_11 .record_1 .right .le .sp2 {
    color: rgba(151, 129, 108, 1);
}

.con_11 .record_1 .right .le .sel {
    color: rgba(255, 127, 3, 1);
}

.con_11 .record_1 .right .ri {
    float: left;
    width: 50%;
    height: 100%;
}

.con_11 .record_1 .right .ri .rle {
    width: 100%;
    height: 0.44rem;
    margin-top: 0.2rem;
}

.con_11 .record_1 .right .ri .rle a {
    float: right;
    height: 0.44rem;
    font-size: 0.24rem;
    color: rgba(255, 255, 255, 1);
    line-height: 0.44rem;
    padding-left: 0.28rem;
    padding-right: 0.28rem;
    background: rgba(153, 153, 153, 1);
}

.con_11 .record_1 .right .ri .rle a.select {
    background: rgba(166, 145, 111, 1);
}

.con_11 .record_1 .right .ri .rle a.select {

}

.con_11 .record_1 .right .ri .ti {
    width: 100%;
    height: auto;
    font-size: 0.24rem;
    color: rgba(179, 179, 179, 1);
    line-height: 0.34rem;
    margin-top: 0.3rem;
    text-align: right;
}

.con_11 .bid_price {
    float: left;
    width: auto;
    height: 100%;
    font-size: 0.28rem;
    color: rgba(51, 51, 51, 1);
    line-height: 0.4rem;
}

.con_11 .rightArrow {
    float: right;
    width: 0.12rem;
    height: 0.22rem;
    position: relative;
    margin-top: 0.08rem;
}
.con_11 .rightArrow a{
    display:block;
    width:100%;
    height:100%;
}
.con_11 .rightArrow a img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.con_8 {
    width: 100%;
    height: 1.2rem;
    border-top: 0.2rem solid rgba(246, 246, 246, 1);
    border-bottom: 0.2rem solid rgba(246, 246, 246, 1);
    padding: 0rem 0.3rem 0rem 0.3rem;
}
.con_8 a{
    font-size: 0.36rem;
    line-height: 0.8rem;
    color: rgba(153,153,153,1);
    display:inline-block;
    width:30%;
    height:100%;
    text-align: center;
    vertical-align:top;
}
.con_8 .li {
    color:rgba(255, 127, 3, 1);
    border-bottom: 0.04rem solid  rgba(255, 127, 3, 1);
}
.con_9_ul{
    width:100%;
    height:auto;
    overflow:hidden;
    position:relative;
}
.con_9_ul li{
    width:100%;
    height:auto;
    overflow:hidden;
}
.con_9_ul .l1,.con_9_ul .l2,.con_9_ul .l3{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.con_9 {
    width: 100%;
    height: 5.18rem;
    padding-top: 0.4rem;
    padding-left: 0.56rem;
    margin-bottom: 1.08rem;
}
.con_9_1{
    width:100%;
    height:auto;
    overflow:hidden;
    margin-bottom:0.3rem;
}
.con_9_1 p{
    width:100%;
    height:0.4rem;
    font-size:0.28rem;
    color:rgba(68,68,68,1);
    line-height:0.4rem;
    margin-bottom:0.2rem;
}
.con_9_1 p span{
    display:inline-block;
    width:0.38rem;
    height:0.38rem;
    margin-right:0.14rem;
    vertical-align:middle;
}
.con_9_1 p span img{
    width:0.26rem;
    height:0.28rem;
}
.con_9_1 .c9{
    width:100%;
    height:auto;
    overflow: hidden;
}
.con_9_1 .c9 ul{
    width:100%;
    height:auto;
    overflow: hidden;
    padding-left:0.5rem;
    padding-right:0.98rem;
}
.con_9_1 .c9 ul li{
    float:left;
}
.con_9_1 .c9 ul li.l1{
    font-size:0.24rem;
    color:rgba(153,153,153,1);
    line-height: 0.34rem;
    border:0.01rem solid #74D6AE;
    border-radius:0.1rem;
    padding:0.1rem 0.16rem 0.1rem 0.16rem;
}
.con_9_1 .c9 ul li.l2{
    width:0.32rem;
    height:0.6rem;
    margin-left:0.2rem;
    margin-right:0.2rem;
    position:relative;
}
.con_9_1 .c9 ul li.l3{
    border:none;
    border-radius:0;
    padding:0;
    line-height: 0.4rem;
}
.con_9_1 .c9 ul li.l2 img{
    width:0.28rem;
    height:0.2rem;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.con_10 {
    width: 100%;
    height: 1.08rem;
    position: fixed;
    left: 0;
    bottom: 0;
}

.con_10 ul {
    width: 100%;
    height: 100%;
}

.con_10 ul li.l1 {
    width: 2.7rem;
    height: 100%;
    float: left;
    background: #fff;
}

.con_10 ul li.l1 .left {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.con_10 ul li.l1 .left .con, .con_10 ul li.l1 .right .con {
    width: 0.48rem;
    height: 0.66rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 0.24rem;
    color: rgba(153, 153, 153, 1);
    line-height: 0.4rem;
}

.con_10 ul li.l1 .left .con .im, .con_10 ul li.l1 .right .con .im {
    width: 0.3rem;
    height: 0.3rem;
    margin: 0 auto;
}

.con_10 ul li.l1 .right {
    width: 50%;
    height: 100%;
    border-left: 0.02rem solid rgba(246, 246, 246, 1);
    float: right;
    position: relative;
}

.con_10 ul li.l2 {
    width: 4.8rem;
    height: 100%;
    background: rgba(153,153,153,1);
    float: right;
}

.con_10 ul li.l2 a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.36rem;
    color: #fff;
    text-align: center;
    line-height: 1.08rem;
}

































